-#lint-input {title:""}
%ul
   %li
     %button{data-dojo-type:"dijit/form/Button",data-dojo-attach-event:"onClick:closePopup"} ClosePopup
   %li
     %button{data-dojo-type:"dijit/form/Button",data-dojo-attach-event:"onClick:reloadPopup"} ReloadPopup
   %li
     %button{data-dojo-type:"dijit/form/Button",data-dojo-attach-event:"onClick:closeTab"} CloseTab #{title}
   %li
     %button{data-dojo-type:"dijit/form/Button",data-dojo-attach-event:"onClick:reloadTab"} ReloadTab #{title}

